@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    height: 100vh;
}

input:checked~.dot {
    transform: translateX(100%);
}

.background-image {
    background-image: url("/src/assets/img/470204460_1158037639448676_5105757898797315374_n.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.goTopHidden {
    display:none;
}

.goTop {
    display: block;
}

.goTop__text {
    position: fixed;
    background: rgba(252, 248, 241, 0.8);
    box-shadow: 2px 2px 5px black;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    bottom: 5%;
    left: 90%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    transition: transform 0.2s ease-in-out;
}

.goTop__text:hover {
    transform: scale(1.1);
}



/* @layer base {
    .lavender {
        @apply bg-lavander-light dark:bg-lavander-dark
    }
} */

body {
    background-color: #a78bfa;
}

nav {
    background-color: #d58D8D;
}

/* body.dark {
    background-color: #381717;
} */
/* 
.light-mode {
    background-color: #a78bfa;
}

.dark-mode {
    background-color: #240a70;
} */